@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-color: #2172E5;
}

body {
  @apply bg-gray-950 text-gray-100;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}
